<div class="container log">

    <div class="form-container">
        <h1>User Login</h1>
        <form action="/session/login" method="post">
            <label for="email">email</label>
            <input class="controls" id="email" type="text" name="email" placeholder="Enter your email">

            <label for="password">password</label>
            <input class="controls" type="text" name="password" id="password" placeholder="Enter your password">

            <input class="botons" type="submit" value="login">
            <p>
                <a href="/session/register">¿No tienes una cuenta?</a>
            </p>
        </form>
        <a href="/session/github"><button class="botons">Sign in to GitHub</button></a>
    </div>

</div>

<link rel="stylesheet" href="/css/log.css">