<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WSP Market</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    {{!--
    <link rel="icon" href="../../public/img/whatsapp.ico"> --}}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/products">products</a></li>
                <li> <a href="/api/chat">chat</a></li>
                <li><a href="/session/login">login</a></li>
                <li><a href="/session/register">register</a></li>
            </ul>
            <span data-testid="tail-out" data-icon="tail-out" class="arrowmsg"><svg viewBox="0 0 8 13" height="13"
                    width="8" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px"
                    enable-background="new 0 0 8 13" xml:space="preserve">
                    <path opacity="0.13" d="M5.188,1H0v11.193l6.467-8.625 C7.526,2.156,6.958,1,5.188,1z"></path>
                    <path fill="currentColor" d="M5.188,0H0v11.193l6.467-8.625C7.526,1.156,6.958,0,5.188,0z"></path>
                </svg></span>
        </nav>
    </header>
    {{#if user}}
    <div class="user-container">
        {{#user}}
        <a class="user" href="/api/carts/{{cart}}">carts</a>
        <a class="user" href="/api/users/profile">{{first_name}}</a>
        <a class="user" href="/api/users/premium/{{_id}}">Get premium</a>
        {{/user}}
    </div>
    {{/if}}
    {{{ body }}}
</body>

</html>
<link rel="stylesheet" href="/css/body.css">