<div>
    {log id}
    <form action="/api/users/premium/{{id}}" method="post">
        <input class="botons" type="submit" value="changeRole">
    </form>
</div>

<link rel="stylesheet" href="/css/switchRole.css">