<div class="container">
    <div class="form-container">
        <h1>
            Email sent
        </h1>
        <p>
            The mail to change password will sent to email address.
            Please check your email inbox.
        </p>
        <h4>
            close the tab or back to <a href="/session/login" class="botons">home</a>
        </h4>
    </div>
</div>
<link rel="stylesheet" href="/css/log.css">
