<div>
    {{log user}}
    {{#user}}
    <div>
        <h2>{{first_name}}</h2>
        <h2>{{email}}</h2>
        <h2>{{role}}</h2>
    </div>
    {{/user}}
</div>

<link rel="stylesheet" href="/css/profile.css">