<div class="container">
    <div class="form-container">
        <h1>User Register</h1>
        <form action="/session/register" method="post">
            <label for="first_name">first name</label>
            <input class="controls" id="first_name" type="text" name="first_name" placeholder="Enter your name">
            <label for="last_name">last name</label>
            <input class="controls" id="last_name" type="text" name="last_name" placeholder="Enter your last name">

            <label for="email">email</label>
            <input class="controls" id="email" type="text" name="email" placeholder="Enter your email">

            <label for="age">age</label>
            <input class="controls" id="age" type="text" name="age" placeholder="Enter your age">

            <label for="password">password</label>
            <input class="controls" type="text" name="password" id="password" placeholder="Enter your password">

            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>

            <input class="botons" type="submit" value="create">

            <p>
                <a href="/session/login">¿Ya tienes una cuenta?</a>
            </p>
        </form>
        <a href="/session/github"><button class="botons">Sign in to GitHub</button></a>
    </div>
</div>

<link rel="stylesheet" href="/css/log.css">